/*      Styles for the Dashboard        */

/* The styles in this CSS file are the general styles which appliet to all pages*/

/*
    Fonts

    Import Fonts:
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
/*
    For Applying Fonts: 
                            font-family: 'Montserrat', sans-serif;
                            font-family: 'Roboto', sans-serif;
                            font-family: 'Lato', sans-serif;
                            font-family: 'Open Sans', sans-serif;
    colors:
            Body Background: #ffffff
            Background nav: #505050
            Pink: #FF69B4

    Shadow Effects:
                        Text  - standard -  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);

                              - hard shadow - text-shadow: 5px 5px 0px rgba(0,0,0,0.2);

                              - heavy shadow - text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                                                            0px 8px 13px rgba(0,0,0,0.1),
                                                            0px 18px 23px rgba(0,0,0,0.1);  

                        Box Shadow :    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
                        Icons:
                                -
                    
*/

/*  Customer Details Modal  */
/* Main Container of Modal  */
.customer-details-modal{
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.6);
    overflow: hidden;
    
}
/*   Inner Container  */
.customer-details-modal-content{
    /*  Center  */
    margin: 1% auto; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    margin-top: 1%;
}
/*  Individual Containers   */
.modal-pet-owner-details, .modal-pet-details{
    display: flex; 
    width: 40%;
    height: 90%;
    flex-direction: column;
    border: 2px solid #DCDCDC;
    padding: 10px;
    border-radius: 15px;
    margin: 1em;
    background-color: rgb(255, 255, 255);
    /*  Shadow Effects  */
    -webkit-box-shadow: 0px -2px 5px -1px rgba(80,80,80,0.46);
    -moz-box-shadow: 0px -2px 5px -1px rgba(80,80,80,0.46);
    box-shadow: 0px -2px 5px -1px rgba(80,80,80,0.46);
    
}
/*  Heading container   */
.heading{
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    padding: 1em;
    margin-left: 20%;
    margin-bottom: 2%;
    height: 20%;
    
}
.pet-owner-icon, .pet-paw-icon{
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.4));
    width: 95px;
    height: 95px;
}
/*  Text of Heaidng */
.customer-details-heading, .pet-details-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    color: #505050;
    
}

/*  Inputs  */
.customer-details-input-container, .pet-details-input-container{
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 0.5em;   
    margin-bottom: 4%;
}
.customer-input, .pet-input{
    font-size: 1.4em;
    color: #FF69B4;
    margin: 0.5em;
    border: 2px solid #505050;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    
}
.pet-select{
    font-size: 1.3em;
}
.customer-address-input, #pet-notes-input{
    font-size: 1.7em;
    color: #FF69B4;
    font-weight: 200;
    margin: 0.5em;
    border: 2px solid #505050;
    font-family: 'Lato', sans-serif;
    font-weight: 800;

}
input[type=radio]{
    width: 6%;
    height: 6%;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    padding: 1em;

}
.customer-button-container{
    margin-top: 11%;
    height: 50%;
}
.buttons{
    background-color: #505050;
    width: 30%;
    height: 44%;
    border-radius: 15px;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-size: 1.5em;
    padding: 0.5em;
    text-align: center;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.4));
    cursor: pointer;

}
#close-button,#new-pet, #save-customer, #save-pet, #delete-pet{
    font-family: 'Lato', sans-serif;
    color: #FFF;
    text-decoration: none;
    font-size: 1em;
}
.buttons img{
    width: 30%;
    height: auto;
}
.buttons:hover, #close-button:hover{
    color: #FF69B4;
}
.button-icon{
    vertical-align: middle;
    margin-right: 8%;
     filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.4));
}