/*      Styles For Expenses Page    */

/*
    Fonts

    Import Fonts:
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
/*
    For Applying Fonts: 
                            font-family: 'Montserrat', sans-serif;
                            font-family: 'Roboto', sans-serif;
                            font-family: 'Lato', sans-serif;
                            font-family: 'Open Sans', sans-serif;
    colors:
            Body Background: #ffffff
            Background nav: #505050
            Pink: #FF69B4

    Shadow Effects:
                        Text  - standard -  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);

                              - hard shadow - text-shadow: 5px 5px 0px rgba(0,0,0,0.2);

                              - heavy shadow - text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                                                            0px 8px 13px rgba(0,0,0,0.1),
                                                            0px 18px 23px rgba(0,0,0,0.1);  

                        Box Shadow :    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
                        Icons:
                                -
                    
*/

/*  Main Page Container */
.wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/*  Style Navbar Starts  */
.navbar-container {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.logo-container {
  display: flex;
  flex-direction: row;
  padding-left: 1.5em;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1em;
}
.logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  margin-left: 10px;
  font-size: 1.6rem;
}
.home-icon {
  vertical-align: bottom;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  max-width: 93px;
  max-height: 93px;
  margin-right: 20px;
  margin-left: 20px;

  /*  For Grow Effect */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
/*  For Grow Effect */
.home-icon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.expenses-logo-container {
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.expenses-icon {
  max-width: 80px;
  max-height: 75px;
  vertical-align: bottom;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}
.expenses-nav-header {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  letter-spacing: 3px;
}
/*  Style Navbar Ends */

/* Style Main Section Start*/
.main-section-container {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Invoice Container */
.expenses-form-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  border: 2px solid #dcdcdc;
  margin: 1rem;
  padding: 1rem;
}
/* Expense Table View */
.expenses-table-container {
  width: 60%;
  min-height: 100%;
  border: 2px solid #dcdcdc;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
/* Expense Table */
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}
table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
}
th {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: bold;
  background-color: #ff69b4;
  color: #ffffff;
}

tr {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  background-color: lightgray;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
  padding: 1rem;
}
/* Invoice Column Rows */
.expense-form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 0.5rem;
  margin: 1rem 10%;
}

/* Invoice Labels */
.expense-label,
.expense-data,
#expense-types {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
}

/* Style Buttons */
/* Main Buttn Container (Back Button)*/
.button-container {
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 60%;
  margin: 4rem 35% 0 5%;
}
/* Button Containers */
.add-button-main-container {
  width: 100%;
  padding: 1rem;
}
.add-button-container {
  max-width: 150px;
  min-height: 75px;
  margin: 1rem 35%;
  background: #505050;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: center;
}
/* Button Links (a) */
.add-button {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  margin-top: 10px;
}
.add-button:hover {
  color: #ff69b4;
}
.add-button-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 5px;
}

/* Style Main Section End*/

/* Style Footer Start*/
.footer {
  width: 100%;
  height: 10%;
  margin-top: 10%;
  text-align: center;
  padding: 1rem;
  color: #ffffff;
  background-color: #ff69b4;
}

/* Style Footer End*/

#back-button-icon {
  max-width: 80px;
  max-height: 80px;
  vertical-align: middle;
  margin-right: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /*  For Grow Effect */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#back-button-icon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
