<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Complete</title>
    <!-- Styles -->
    <link rel="stylesheet" href="C:\Users\Slade\Desktop\Pet-Grooming-Frontend\static\css\styles-all.css">
    <link rel="stylesheet" href="C:\Users\Slade\Desktop\employeeDetails.css">
</head>

<body>
    <div class="wrapper">
	
        <!--    Navbar Starts     -->
        <div class="navbar-container">
            <div class="logo-container">
                <a href="Dashboard.html"><img src="C:\Users\Slade\Desktop\Pet-Grooming-Frontend\static\Icons\dogHouse.png" alt="home" class="home-icon" /></a>
                <h1 class="logo">@Home Mobile Pet Grooming</h1>
            </div>

            <div class="employee-details-logo-container">
                <img src="C:\Users\Slade\Desktop\Pet-Grooming-Frontend\static\Icons\employee.png" alt="employee-details"
                    class="employee-details-icon" />
                <h2 class="employee-details-nav-headeing">Employee Details</h2>
            </div>
        </div>
        <!--    Navbar Ends  -->
		
        <!-- Employee Details Section Starts -->
        <class="employee-details-section">
		  <form>
		    <label for="employee-id" class="employee-label" id="employee-id-label">Employee ID</label><br>
		    <input type="text" id="employee-id" class="employee-input"><br><br>
		  
		    <label class="employee-label" id="employee-sa-id-label">SA ID Number</label><br>
		    <input type="text" id="employee-sa-id" class="employee-input"><br><br>
		  
		    <label for="employee-id" class="employee-label">Employee ID</label><br>
		    <input type="text" id="employee-id-input" class="employee-input"><br><br>
		  
		    <label for="employee-id" class="employee-label">Employee ID</label><br>
		    <input type="text" id="employee-id-input" class="employee-input"><br><br>
		  <form>
        </div>    
        <!-- Employee Details Section Ends -->
		
        <!-- Button Container Starts-->
        <div class="button-container">
            <div class="cancel-button"><a href="#"><img src="C:\Users\Slade\Desktop\Pet-Grooming-Frontend\static\Icons\cancelSmall.png" alt="cancel"> Cancel</a></div>
            <div class="edit-button"><a href="#"><img src="C:\Users\Slade\Desktop\Pet-Grooming-Frontend\static\Icons\editSmall.png" alt="edit"> Edit </a></div>
            <div class="invoice-button"><a href="#"><img src="C:\Users\Slade\Desktop\Pet-Grooming-Frontend\static\Iconsinvoice2.png" alt="invoice"> Invoice</a></div>
        </div>
        <!-- Button Container Ends -->
		
        <!-- Footer -->
        <div class="footer">
		  Pet Grooming &copy; 2020
		</div>
		
    </div>
</body>

</html>