<!DOCTYPE html>
<html>

    <head>
	    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Finance</title>
        <!-- Styles -->
        <link rel="stylesheet" href="\static\css\styles-all.css">
       <link rel="stylesheet" href="\static\css\finance.css">
	</head>
	
	<body>
	    <div class="wrapper">
		
		    <!--    Navbar Starts     -->
            <div class="navbar-container">
                <div class="logo-container">
                    <a href="Dashboard.html"><img src="\static\Icons\dogHouse.png" alt="home" class="home-icon" /></a>
                    <h1 class="logo">@Home Mobile Pet Grooming</h1>
                </div>

                <div class="finance-logo-container">
                    <img src="\static\Icons\finance.png" alt="finance" class="finance-icon" />
                    <h2 class="finance-nav-headeing">Finance</h2>
                </div>
            </div>
            <!--    Navbar Ends  -->
			
		</div>
	</body>
</html>